<!doctype html>
<html>
<head>
    <title>Страховой полис</title>
    <meta charset=utf-8">

    <style>
        body, td {
            font-family: Helvetica, Arial, sans-serif;
            font-size: 12px;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }
    </style>
</head>
<body>
<table style="border: 1px solid #000;">
    <tr>
        <td colspan="3" style="text-align: center; padding: 5px 10px; border: 1px solid #000; width: 80%;">
            <b>Ключевой информационный документ</b><br><b>об условиях договора добровольного страхования</b>
        </td>
        <td rowspan="2" style="width: 20%; text-align: center;">
            <img width="120" alt="" src="https://s.aviakassa.ru/images/qr_alfa_insurance_eticket.png" />
        </td>
    </tr>
    <tr>
        <td colspan="3" style="padding: 5px 10px; border: 1px solid #000; width: 80%;">
            Полис страхования рисков Держателя Банковской карты
            подготовлен на основании Правил страхования пластиковых
            карточек АО «АльфаСтрахование» (далее - Страховщик) в
            редакции, действующей на дату заключения договора
            страхования (далее - Правила).
        </td>
    </tr>
    <tr>
        <td style="padding: 5px 10px; border: 1px solid #000; border-bottom: 0; width: 20%;">
            Страховщик:
        </td>
        <td colspan="3" style="padding: 5px 10px; border: 1px solid #000; border-bottom: 0; width: 80%;">
            <b>АО «АльфаСтрахование»</b><br>
            <b>
                Адрес: Россия, г. Москва, Шаболовка ул., д. 31, стр. Б,
                тел. 8 800 333 0 999
            </b>
        </td>
    </tr>
</table>
<p style="text-align: center; border: 1px solid #000; padding: 5px 10px;">
    Раздел I. ЧТО ЗАСТРАХОВАНО?
</p>
<table>
    <tr>
        <td colspan="4" style="padding: 5px 10px; text-align: justify; border: 1px solid #000;">
            1. Несанкционированное снятие денежных средств со Счета
            Держателя Основной Банковской карты, указанной в настоящем
            Полисе, в результате противоправных действий, указанными
            ниже способами: 1.1 Путем получения третьими лицами
            наличных денег из банкомата со Счета, когда в результате
            насилия или под угрозой насилия в отношении Держателя
            Банковской карты или его близких Держатель Банковской карты
            был вынужден передать свою Карту, указанную в
            Полисе-оферте, и сообщить третьим лицам PIN-код этой Карты.
            1.2. Путем получения третьими лицами наличных денежных
            средств со Счета в отделении Банка с использованием
            Банковской карты, с копированием подписи Держателя
            Банковской Карты на платежных документах (слипе, чеке), при
            условии корректного оформления банком документов по
            операции, подтвержденной подписью или PIN-кодом. 1.3.
            Используя сведения о застрахованной Банковской карте, не
            выбывшей из владения (не утраченной, не похищенной)
            Страхователя, которые получены мошенническим путем, а
            именно с применением фишинга, скимминга, для осуществления
            расчетов за покупки, работы, услуги посредством: 1.3.1.
            перехода на мошеннические сайты, с использованием методов
            заражения записей DNS (Domain Name System — система
            доменных имен) и т.п.; 1.3.2. получения данных о
            застрахованной Банковской карте Страхователя путем взлома
            серверов интернет-магазинов, платежных и расчетных систем,
            создания фишинговых сайтов; 1.3.3. применения устройств,
            считывающих коды, магнитные полосы, а также
            идентификационный номер (логин) и пароль, вводимые
            Страхователем с целью проведения банковских операций, в
            т.ч. через банкомат (скимминг); 1.3.4. использования
            поддельной карты с нанесенными на нее данными
            действительной Банковской карты в качестве расчетного
            средства. 1.4. Несанкционированного использования
            Банковской карты, указанной в настоящем Полисе, третьими
            лицами в результате ее утраты Страхователем, за исключением
            операций с введением PIN-кода карты. 1.5. Посредством
            списания денежных средств со Счета в заведомо большем
            размере, чем стоимость приобретенного товара (услуг), при
            оплате указанных товаров (услуг) с использованием
            Банковской карты (за исключением случаев повторного
            списания денежных средств за покупку одного и того же
            товара (услуги)). 1.6. Путем получения денежных средств из
            банкомата по поддельной Карте, на которую нанесены данные
            действительной застрахованной Банковской карты. <br>
            Продолжительность покрытия рисков несанкционированного
            доступа к Счету Держателя Основной Банковской карты не
            может превышать 48 часов до момента блокировки карты. При
            этом по событиям установлен лимит на один страховой случай
            50% от страховой суммы. <br>
            2. Утрата Банковской карты вследствие: утери; хищения
            (кражи; грабежа; разбоя); в) случайных механических,
            термических повреждений, размагничивания и т.п.;
            неисправной работы банкомата. <br>
            3. Хищение у Держателя Банковской карты наличных денежных
            средств, полученных Держателем Банковской карты в банкомате
            по Банковской карте, указанной в Полисе, если такое хищение
            совершено путем разбоя или грабежа и имело место не позднее
            1 (одного) часа с момента снятия денежных средств. При этом
            по событиям установлен лимит на один страховой случай 50%
            от страховой суммы, установленной в Полисе. <br>
        </td>
    </tr>
</table>
<p style="text-align: center; border: 1px solid #000; padding: 5px 10px; page-break-before: always;">
    Раздел II. ЧТО НЕ ЗАСТРАХОВАНО?
</p>
<table>
    <tr>
        <td colspan="4" style="text-align: justify; padding: 5px 10px; border: 1px solid #000;">
            Не подлежат возмещению убытки: 1.1. в результате операций с
            использованием Банковской карты, указанной в Полисе-оферте,
            наступившие ранее 48 часового периода, предшествующего
            моменту блокировки Карты. 1.2. в результате
            несанкционированного снятия денежных средств со счета при
            отсутствии блокировки карты за исключением случаев,
            подтвержденных соответствующими медицинскими документами,
            когда по состоянию здоровья на момент такого обнаружения
            Держатель Банковской карты не мог сообщить о необходимости
            блокировки карты. 1.3. вследствие совершения мошеннических
            или иных незаконных действий со стороны Страхователя/
            Держателя Банковской карты. 1.4. наступившие в результате
            хищения у Держателя Банковской карты наличных денежных
            средств, полученных Держателем Банковской карты в банкомате
            по Банковской Карте, если такое хищение имело место по
            истечении 1 (одного) часа с момента снятия денежных
            средств. 1.5. в результате использования банковской карты
            ближайшими родственниками Страхователя независимо от
            способа получения ими банковской карты. 1.6. в результате
            несоблюдения Страхователем/ Держателем Банковской карты
            Договора с Банком (правил/условий использования банковских
            карт), выдавшим Банковскую карту, в том числе хранение
            номера Банковской карты и PIN-кода в доступных для
            посторонних лиц местах и/или хранение Банковской карты
            вместе с PIN-кодом, предоставление информации о реквизитах
            Банковской карты (номер карты, срок действия карты,
            PIN-код, CVV2/CVC2 код, контрольная информация по карте)
            третьим лицам, включая работников Банка, по телефону или в
            СМС-сообщениях; проведение через банкоматы и иные
            устройства самообслуживания операций по инструкциям,
            полученным по телефону; отсутствие подписи Держателя карты
            на карте; хранение копий чеков, билетов, других документов,
            где указан номер Банковской карты; передача пароля доступа
            к счету через интернет третьим лицам. 1.7. возникшие
            вследствие того, что Страхователь умышленно не принял
            разумных и доступных ему мер, чтобы уменьшить возможные
            убытки; 1.8. в результате операций операции по
            Застрахованной карте, совершенные после извещения
            Страхователем Банка-эмитента о факте утраты Застрахованной
            карты (потери, кражи или хищения); 1.9. неподтвержденные
            документами из компетентных органов; 1.10. возникшие до
            начала срока страхования, а также произошедшие и заявленные
            по окончанию срока страхования; 1.11. в отношении
            банковских карт, не указанных в Полисе-оферте; 1.12. в
            результате событий, зависящих от воли Страхователя, а также
            в результате совершенных Страхователем добровольных
            действий, без принуждения, без подтверждения
            причинно-следственной связи между мошенническими действиями
            третьих лиц в отношении Страхователя и несанкционированного
            совершения транзакций со счета Страхователя; 1.13.
            произошедшие с банковскими картами, не подключенным ни к
            одной из международных платежных систем или национальной
            платежной системе «МИР»; 1.14. произошедшие с банковскими
            картами, выпущенными к расчетному счету юридического лица
            и/или используемыми для расчетов, связанных с
            предпринимательской деятельностью (в коммерческих целях);
            1.15. в результате несанкционированного снятия денежных
            средств со счета в случае утраты мобильного устройства, к
            которому привязана застрахованная Банковская карта. 1.16.
            составляющие более 10 000 (десять тысяч) рублей при снятии
            наличных денежных средств в период с 23 час. 01 мин. до 07
            час. 00 мин. (по местному времени населенного пункта, в
            котором произошло хищение) следующего дня. 1.17. в
            результате мошеннических действий через Мобильный банк в
            результате утраты либо хищения Мобильного устройства, к
            которому привязана застрахованная Банковская карта; 1.18. в
            результате переподключения Мобильного банка Страхователя на
            сторонний номер телефона в результате получения третьими
            лицами мошенническим путем доступа к Мобильному банку
            Страхователя, подключенному к Застрахованной банковской
            карте; 1.19. в результате получения доступа к
            Интернет-банку и одноразовым паролям Страхователя в
            результате получения третьими лицами мошенническим путем
            доступа к Интернет-банку Страхователя, подключенному к
            Банковской карте, и одноразовым паролям к нему; 1.20.
            связанные с обслуживаем карточного счета, к которому
            привязана застрахованная банковская карта; 1.21. судебные
            расходы; 1.22. в результате потери дохода или части убытка,
            явившихся результатом скидки, которую предоставило лицо,
            принявшее в качестве средства оплаты пластиковую карту.
        </td>
    </tr>
</table>
<p style="text-align: center; border: 1px solid #000; padding: 5px 10px;">
    Раздел III. ТЕРРИТОРИЯ СТРАХОВАНИЯ
</p>
<table>
    <tr>
        <td colspan="4" style="text-align: justify; padding: 5px 10px; border: 1px solid #000;">
            Мир, за исключением территории Сирийской Арабской
            Республики, Государства Ливия, Республики Южный Судан,
            Йеменской Республики, Исламской Республики Афганистан,
            Исламской Республики Пакистан, Исламской Республики Иран,
            Республики Ирак, Федеративной Республики Сомали,
            Центральноафриканской Республики, Луганской Народной
            Республики, Донецкой Народной Республики, Запорожской
            области, Херсонской области, Украины и зон боевых (военных)
            действий.
        </td>
    </tr>
</table>
<p style="text-align: center; border: 1px solid #000; padding: 5px 10px;">
    Раздел IV. КАК ПОЛУЧИТЬ СТРАХОВУЮ ВЫПЛАТУ?
</p>
<table>
    <tr>
        <td colspan="4" style="text-align: justify; padding: 5px 10px; border: 1px solid #000;">
            Заявление об осуществлении страховой выплаты подается в
            течение в течение 3 (трех) рабочих дней, считая с того дня,
            когда он узнал или должен был узнать о событии, имеющим
            признаки страхового случая. <br>
            Для получения страховой выплаты требуется представить
            документы по событиям, связанным с несанкционированным
            снятием денежных средств со Счета; утратой карты; хищением
            наличных, полученных в банкомате в соответствии с перечнем
            указанным в п.10.3 Правил страхования пластиковых карточек. <br>
            Страховая выплата осуществляется в течение 15 рабочих дней
            после получения заявления и всех необходимых документов. <br>
        </td>
    </tr>
</table>
<p style="text-align: center; border: 1px solid #000; padding: 5px 10px;">
    Раздел V. КАК ВЕРНУТЬ СТРАХОВУЮ ПРЕМИЮ?
</p>
<table>
    <tr>
        <td colspan="2" style="text-align: center; padding: 5px 10px; border: 1px solid #000; width: 50%;">
            Основания для возврата страховой премии
        </td>
        <td colspan="2" style="text-align: center; padding: 5px 10px; border: 1px solid #000; width: 50%;">
            Сумма возврата страховой премии
        </td>
    </tr>
    <tr>
        <td colspan="2" rowspan="2" style="text-align: justify; padding: 5px 10px; border: 1px solid #000; width: 50%;">
            Отказ от договора добровольного страхования в течение 14
            календарных дней со дня его заключения, при отсутствии в
            данном периоде событий, имеющих признаки страхового случая.
        </td>
        <td colspan="2" style="text-align: justify; padding: 5px 10px; border: 1px solid #000; width: 50%;">
            100% от страховой премии - при отказе от договора
            страхования до даты начала действия страхования
        </td>
    </tr>
    <tr>
        <td colspan="2" style="text-align: justify; padding: 5px 10px; border: 1px solid #000; width: 50%;">
            100% от страховой премии за вычетом части страховой премии,
            исчисляемой пропорционально времени, в течение которого
            действовало страхование, - при отказе от договора
            добровольного страхования после даты начала действия
            страхования
        </td>
    </tr>
    <tr>
        <td colspan="2" style="text-align: justify; padding: 5px 10px; border: 1px solid #000; width: 50%;">
            Отказ от договора добровольного страхования в случае
            ненадлежащего информирования об условиях страхования
        </td>
        <td colspan="2" rowspan="2" style="text-align: justify; padding: 5px 10px; border: 1px solid #000; width: 50%;">
            100% от страховой премии за вычетом части страховой премии,
            исчисляемой пропорционально времени, в течение которого
            действовало страхование
        </td>
    </tr>
    <tr>
        <td colspan="2" style="text-align: justify; padding: 5px 10px; border: 1px solid #000; width: 50%;">
            Возможность наступления страхового случая отпала по
            обстоятельствам иным чем страховой случай.
        </td>
    </tr>
    <tr>
        <td colspan="4" style="text-align: center; padding: 5px 10px; border: 1px solid #000;">
            В иных случаях страховая премия возврату не подлежит.
        </td>
    </tr>
    <tr>
        <td colspan="4" style="text-align: justify; padding: 5px 10px; border: 1px solid #000;">
            Возврат страховой премии осуществляется в течение 7 рабочих
            дней со дня получения соответствующего заявления, а также
            документов, подтверждающих основание для возврата страховой
            премии.
        </td>
    </tr>
</table>
<p style="text-align: center; border: 1px solid #000; padding: 5px 10px;">
    Раздел VI. КАК УРЕГУЛИРОВАТЬ СПОР ДО СУДА?
</p>
<table style="border: 1px solid #000; page-break-after: always;">
    <tr>
        <td style="text-align: justify; padding: 5px 10px; border: 1px solid #000; font-size: 12px;">
            <p>Направить страховщику заявление (претензию) в письменной
                форме. <br>
                Если Страховщик не удовлетворил заявление (претензию), при
                этом размер требований не превышает 500 000,00 рублей, до
                обращения в суд необходимо обратиться к уполномоченному по
                правам потребителей финансовых услуг: <br>
                сайт: www.finombudsman.ru ; адрес: 119017, г. Москва, Старомонетный пер., дом 3. <br>
                Рассмотрение уполномоченным по правам потребителей
                финансовых услуг обращения <br>
                потребителя финансовых услуг
                осуществляется бесплатно.</p>

        </td>
    </tr>
</table>
<table>
    <tr>
        <td>
            <img src="https://s.aviakassa.ru/images/alfa_strahovanie.gif" />
        </td>
        <td style="text-align: right; font-size: 8px">
            <b>
                Полис-оферта страхования рисков<br>
                Держателя Банковской карты<br>
                № Z6921/143/{{ data.blank_number|split('-')|join }}/3
            </b>
        </td>
    </tr>
</table>
<p style="text-align: justify; font-size: 8px">Полисом-офертой АО «АльфаСтрахование» (далее - Страховщик) в соответствии со ст.435 ГК РФ предлагает Страхователю заключить договор страхования, по которому обязуется за страховую премию возместить Выгодоприобретателю, в пределах, определенных договором страховых сумм убытки, причиненные в результате наступления страхового случая. Полис заключен на условиях Правил страхования пластиковых карточек, действующих на дату заключения Полиса (далее – Правила) и размещенных на сайте АО «АльфаСтрахование» http://www.alfastrah.ru/docs/Pravila_143.pdf.</p>
<table>
    <tr>
        <td style="background-color: #bfbfbf; border: 1px solid #000; padding: 5px 10px; width: 20%;font-size: 8px;">
            <b>1. Страховщик</b>
        </td>
        <td style="border: 1px solid #000; padding: 5px 10px; width: 80%;font-size: 8px;">
            <i><b>АО «АльфаСтрахование», Российская Федерация , г. Москва , ул. Шаболовка, дом 31 строение Б,</b> телефон 8 800 333 75 57, +7 495 788-09-99</i>
        </td>
    </tr>
</table>
<p style="text-align: justify;font-size: 8px;">Объектом страхования являются не противоречащие законодательству Российской Федерации имущественные интересы Держателя Основной Банковской карты, связанные с утратой Банковской карты, а также денежных средств со Счета Держателя Основной Банковской карты и денежных средств, снятых со Счета Держателя Основной Банковской карты через банкомат.</p>
<table style="margin-bottom: 1em;font-size: 8px;">
    <tr>
        <td style="background-color: #bfbfbf; border: 1px solid #000; padding: 5px 10px; width: 20%;font-size: 8px;">
            <b>2. Страхователь</b>
        </td>
        <td style="border: 1px solid #000; padding: 5px 10px; width: 80%;font-size: 8px;">
            <i><b>{{ data.details.card_holder }}</b></i>
        </td>
    </tr>
</table>
<table style="margin-bottom: 1em;">
    <tr>
        <td style="background-color: #bfbfbf; border: 1px solid #000; padding: 5px 10px; width: 20%;font-size: 8px;">
            <b>Дата рождения</b>
        </td>
        <td style="border: 1px solid #000; padding: 5px 10px; width: 15%;font-size: 8px;">
            {{ data.policyholder_birth|date('d.m.Y') }}
        </td>
        <td style="background-color: #bfbfbf; border: 1px solid #000; padding: 5px 10px; width: 15%;font-size: 8px;">
            <b>Телефон</b>
        </td>
        <td style="border: 1px solid #000; padding: 5px 10px; width: 20%;font-size: 8px;">
            {{ data.passenger_phone }}
        </td>
        <td style="background-color: #bfbfbf; border: 1px solid #000; padding: 5px 10px; width: 15%;font-size: 8px;">
            <b>E-mail</b>
        </td>
        <td style="border: 1px solid #000; padding: 5px 10px; width: 35%;font-size: 8px;">
            {{ data.passenger_email }}
        </td>
    </tr>
</table>
<p style="text-align: justify;font-size: 8px;">Акцептуя настоящий Полис-оферту, Страхователь подтверждает достоверность представленной информации.</p><table>
    <tr>
        <td style="background-color: #bfbfbf; border: 1px solid #000; padding: 5px 10px; width: 40%;font-size: 8px;">
            <b>3. Держатель Банковской карты</b>
        </td>
        <td style="border: 1px solid #000; padding: 5px 10px; width: 60%;font-size: 8px;">
            <i><b>Страхователь</b></i>
        </td>
    </tr>
</table>
<p style="text-align: justify;font-size: 8px;">
    <b>4. Страховые случаи</b>
</p>
<table>
    <tr>
        <td style=" border: 1px solid #000; padding: 5px 10px; width: 40%;font-size: 8px;">
            4.1. <b>Несанкционированное снятие денежных средств</b> со Счета Держателя Основной Банковской карты, указанной в настоящем Полисе, в результате противоправных действий, указанными ниже способами:<br>
            4.1.1 Путем получения третьими лицами наличных денег из банкомата со Счета Держателя Основной Банковской карты, когда в результате насилия или под угрозой насилия в отношении Держателя Банковской карты или его близких Держатель Банковской карты был вынужден передать свою Карту, указанную в Полисе-оферте, и сообщить третьим лицам PIN-код этой Карты. <br/>
            4.1.2. Путем получения третьими лицами наличных денежных средств со Счета Держателя Основной Банковской карты в отделении Банка с использованием Банковской карты, с копированием подписи Держателя Банковской Карты на платежных документах (слипе, чеке), при условии корректного оформления банком документов по операции, подтвержденной подписью или PIN-кодом.<br/>
            4.1.3. Используя сведения о застрахованной Банковской карте, не выбывшей из владения (не утраченной, не похищенной) Страхователя, которые получены мошенническим путем, а именно с применением фишинга, скимминга, для осуществления расчетов за покупки, работы, услуги посредством:<br/>
            4.1.3.1. перехода на мошеннические сайты, с использованием методов заражения записей DNS (Domain Name System — система доменных имен) и т.п.;<br/>
            4.1.3.2. получения данных о застрахованной Банковской карте Страхователя путем взлома серверов интернет-магазинов, платежных и расчетных систем, создания фишинговых сайтов;<br/>
            4.1.3.3. применения устройств, считывающих коды, магнитные полосы, а также идентификационный номер (логин) и пароль, вводимые Страхователем с целью проведения банковских операций, в т.ч. через банкомат (скимминг);<br/>
            4.1.3.4. использования поддельной карты с нанесенными на нее данными действительной Банковской карты в качестве расчетного средства.<br/>
            4.1.4. Несанкционированного использования Банковской карты, указанной в настоящем Полисе, третьими лицами в результате ее утраты Страхователем, за исключением операций с введением PIN-кода карты.<br/>
            4.1.5. Посредством списания денежных средств со Счета Страхователя в заведомо большем размере, чем стоимость приобретенного товара (услуг), при оплате указанных товаров (услуг) с использованием Банковской карты (за исключением случаев повторного списания денежных средств за покупку одного и того же товара (услуги)).<br/>
            4.1.6. Путем получения денежных средств из банкомата по поддельной Карте, на которую нанесены данные действительной застрахованной Банковской карты.<br/>
            Продолжительность покрытия рисков несанкционированного доступа к Счету Держателя Основной Банковской карты не может превышать 48 часов до момента блокировки карты.<br/>
            При этом по событиям, указанным в п.4.1 настоящего Полиса, установлен лимит на один страховой случай 50% от страховой суммы, установленной в Полисе.<br/>
        </td>
    </tr>
</table>
<table>
    <tr>
        <td style="border: 1px solid #000; padding: 5px 10px; width: 60%;font-size: 8px;">
            4.2. <b>Утрата Банковской карты </b> следствие: а) утери; б) хищения (кражи; грабежа; разбоя); в) случайных механических, термических повреждений, размагничивания и т.п.;<br>
            г) неисправной работы банкомата.
        </td>
    </tr>
    <tr>
        <td style="border: 1px solid #000; padding: 5px 10px; width: 60%;font-size: 8px;">
            4.3. <b>Хищение у Держателя Банковской карты наличных денежных средств,</b> полученных Держателем Банковской карты в банкомате по Банковской карте, указанной в Полисе-оферте, если такое хищение совершено путем разбоя или грабежа и имело место не позднее 1 (одного) часа с момента снятия денежных средств.<br/>
            При этом по событиям, указанным в п.4.3 настоящего Полиса, установлен лимит на один страховой случай 50% от страховой суммы, установленной в Полисе.
        </td>
    </tr>
</table>
<p style="font-size: 8px;"><b>5. Предмет страхования, страховая сумма, страховая премия</b></p>
<table style="margin-bottom: 1em; text-align: center;">
    <tr>
        <td style="border: 1px solid #000; padding: 5px 10px;font-size: 8px;" rowspan="2">
            Банковская карта и денежные средства на счете Держателя Основной Банковской карты
        </td>
        <td style="border: 1px solid #000; padding: 5px 10px;font-size: 8px;">
            Номер Банковской карты
        </td>
        <td style="border: 1px solid #000; padding: 5px 10px;font-size: 8px;">
            Страховая сумма, руб.
        </td>
        <td style="border: 1px solid #000; padding: 5px 10px;font-size: 8px;">
            Страховая премия, руб.
        </td>
    </tr>
    <tr>
        <td style="border: 1px solid #000; padding: 5px 10px;font-size: 8px;">
            {{ data.details.card_number }}
        </td>
        <td style="border: 1px solid #000; padding: 5px 10px;font-size: 8px;">
            {{ data.insured_sum }}
        </td>
        <td style="border: 1px solid #000; padding: 5px 10px;font-size: 8px;">
            {{ data.insured_payment }}
        </td>
    </tr>
</table>
<table style="margin-bottom: 1em;">
    <tr>
        <td style="background-color: #bfbfbf; border: 1px solid #000; padding: 5px 10px; width: 30%;font-size: 8px;">
            <b>6. Территория страхования</b>
        </td>
        <td style="border: 1px solid #000; padding: 5px 10px; width: 70%;font-size: 8px;">
            Весь мир за исключением территории Сирийской Арабской Республики, Государства Ливия, Республики Южный Судан, Йеменской Республики, Исламской Республики Афганистан, Исламской Республики Пакистан, Исламской Республики Иран, Республики Ирак, Федеративной Республики Сомали, Центральноафриканской Республики, Украины, Донецкой народной республики, Луганской народной республики, Херсонской области, Запорожской области и иных зон боевых (военных) действий.
        </td>
    </tr>
</table>
<table>
    <tr>
        <td style="background-color: #bfbfbf; border: 1px solid #000; padding: 5px 10px;font-size: 8px;">
            <b>7. Срок страхования</b>
        </td>
        <td style="border: 1px solid #000; padding: 5px 10px; text-align: center;font-size: 8px;">
            <b>30 дней</b>
        </td>
        <td style="border: 1px solid #000; padding: 5px 10px;font-size: 8px;">
            Начинается с 00 ч. дня, следующего за датой оплаты полной суммы страховой премии, считая дату оплаты.
        </td>
    </tr>
</table>
<p style="text-align: justify;font-size: 8px;">
    7.1. Датой уплаты страховой премии считается: при оплате в безналичном порядке с момента подтверждения исполнения перевода обслуживающей Страхователя кредитной организацией; при оплате наличными денежными средствами с момента поступления денежных средств в кассу Страховщика или в кассу представителя Страховщика. Сумма и дата оплаты указываются в платежном документе об оплате страховой премии.<br>
    7.2. Страховая защита распространяется исключительно на страховые события, наступившие в течение срока действия договора страхования.
</p>
<p style="text-align: justify;font-size: 8px;">
    <b>8. Условия заключения Полиса.</b><br>
    На основании ст. 435, 438 ГК РФ согласием Страхователя заключить договор страхования на предложенных Страховщиком условиях (акцептом) считается единовременная уплата страховой премии. Датой заключения Полиса является дата оплаты страховой премии по Полису. Срок действия Полиса прекращается через 30 дней с даты, предусмотренной гр. 3 п. 7 Полиса.<br>
    Данное предложение действительно в течение даты выдачи Полиса-оферты(указана в правом нижнем углу последней страницы Полиса) либо получения Страхователем данного предложения.
</p>
<p style="text-align: justify;font-size: 8px;">
    <b>9. Определение суммы страховой выплаты.</b><br>
    9.1. По рискам, предусмотренным п.4.1 настоящего Полиса-оферты исходя из размера снятых со Счета Держателя Основной Банковской карты средств в результате несанкционированного использования Банковской карты в пределах страховой суммы и лимитов ответственности по Договору страхования.<br>
    9.2. По рискам, предусмотренным п.4.2 настоящего Полиса-оферты, исходя из стоимости перевыпуска Банковской карты, предусмотренной договором между Банком–эмитентом и Страхователем/Держателем Банковской карты, но не может превышать страховую сумму по договору страхования.<br>
    9.3. По рискам, предусмотренным п.4.3 настоящего Полиса-оферты исходя из размера похищенных наличных денежных средств, полученных Держателем Банковской карты по Банковской карте, указанной в Полисе-оферте, в банкомате в пределах страховой суммы и лимитов ответственности, установленных по Договору страхования.
</p>
<p style="text-align: justify;font-size: 8px;">
    <b>10. Действия Страхователя/ Держателя Банковской карты при возникновении страхового события.</b><br>
    При возникновении события, в связи с которым Страхователь/Держатель Банковской карты обращается к Страховщику с претензией о выплате страхового возмещения, Страхователь/Держатель Банковской карты обязан:<br>
    10.1. Немедленно, как только стало известно об этом сообщить в Банк о событии по контактному телефону Банка, указанному на официальном сайте банка и заблокировать карту.<br>
    10.2. Оформить в отделении Банка (дополнительном офисе/кредитно-кассовом офисе) претензию Банку по оспариваемым суммам.<br>
    10.3. Незамедлительно обратиться в отделение полиции, написать заявление и получить талон–уведомление о принятии заявления.<br>
    10.4. За исключением случаев нахождения Страхователя/Держателя Банковской карты за рубежом, в течение трех рабочих дней с момента, когда Страхователю (Держателю Банковской карты) стало известно о наступлении события, подать письменное заявление о событии в АО «АльфаСтрахование».<br>
    10.5. При нахождении Страхователя/Держателя Банковской карты за рубежом сообщить о наступлении события по телефону 7 495 788 0 999, а после возвращения в течение трех рабочих дней подать письменное заявление о событии в АО «АльфаСтрахование».<br>
    10.6. Предоставить в АО «АльфаСтрахование» документы в соответствии с характером произошедшего события, описанные в разделе «Документы, подтверждающие факт наступления страхового случая, причины и размер убытка» Полиса-оферты.
</p>
<p style="text-align: justify;font-size: 8px;">
    <b>11. Документы, подтверждающие факт наступления страхового случая, причины и размер убытка.</b><br>
    Страхователь обязан предоставить Страховщику:<br>
    11.1 Заявление о страховом событии установленного образца.<br>
    11.2. Оригинал Полиса-оферты.<br>
    11.3. Документ, удостоверяющий личность заявителя или полномочия представителя.<br>
    11.4. Документ, подтверждающий уплату страховой премии:<br>
    11.5. По событиям, связанным с несанкционированным снятием денежных средств (п.4.1 настоящего Полиса):<br>
    11.5.1. документы правоохранительных органов, удостоверяющие факт противоправных действий третьих лиц в отношении Держателя Банковской карты (талон-уведомление, копии постановлений о возбуждении, приостановлении или прекращении уголовного дела и/или справку полиции страны, в которой произошло несанкционированное снятие (при выезде за пределы РФ), и копию заграничного паспорта, при передаче дела в суд - Решение суда) При невозможности предоставления справки из полиции при выезде за пределы РФ - постановление о возбуждении, приостановлении или прекращении уголовного, выданные отделением полиции по месту открытия счета;<br>
    11.5.2. выписка Банка по счету Банковской карты, с указанием всех транзакций, произведенных в течение пяти дней до транзакции несанкционированного снятия денежных средств, включая транзакцию несанкционированного снятия, содержащая информацию о дате операции, времени, месте ее проведения, сумме и валюте;<br>
    11.5.3. письмо от Банка о блокировке Карты (с указанием времени, даты блокировки);<br>
    11.5.4. письменное заключение о проверке Банком обоснованности претензии Клиента Держателя Банковской карты (претензия удовлетворена или в случае отказа указать причину отказа Банка в возмещении средств по оспоренным операциям);<br>
    11.5.5. документы, подтверждающие стоимость покупок или услуг (если снятие за предоставленные товары или услуги произошло в большем размере).<br>
    11.5.6. В подтверждение факта несанкционированного снятия денежных средств с использованием информации о Банковской карте, полученной мошенническим путем с использованием фишинга, скимминга либо поддельной карты, Страхователь обязан предоставить документы компетентных органов, подтверждающие, факт несанкционированного снятия (фишинга, скимминга либо поддельной карты).<br>
    11.6. По событиям, связанным с <b>утратой Банковской карты</b> (п.4.2 настоящего Полиса): Справку Банка о стоимости перевыпуска Карты.<br>
    11.7. По событиям, связанным с <b>хищением у Держателя Банковской карты наличных денежных средств</b> (п.4.3 настоящего Полиса):<br>
    11.7.1. копии постановления о возбуждении, приостановлении или прекращении уголовного дела, и/или справку полиции страны, в которой произошло хищение наличных средств (при выезде за пределы РФ) и копию паспорта, удостоверяющего личность гражданина РФ за пределами Российской Федерации;<br>
    11.7.2. при передаче дела в суд - Решение суда;<br>
    11.7.3. выписка Банка по счёту Банковской карты с указанием транзакций, произведенных за 12 часов до момента хищения.<br>
    В случае нахождения Держателя Банковской карты за рубежом в момент обнаружения хищения наличных предоставляется справка из полиции страны пребывания (при выезде за пределы РФ), в которой произошло и обнаружено Держателем Банковской карты хищение наличных.<br>
    11.8. Все документы, предоставляемые Страхователем, должны быть оформлены на русском языке, в противном случае к документам прилагается нотариально заверенный перевод на русский язык.
</p>
<p style="text-align: justify;font-size: 8px;">
    <b>12. Порядок выплаты страхового возмещения.</b><br>
    12.1. Страховой акт составляется и утверждается Страховщиком в течение 10 (десяти) рабочих дней после получения письменного заявления о страховом событии, а также всех необходимых документов, подтверждающих факт, причину и размер ущерба.<br>
    12.2. Страховая выплата производится в течение 5 (пяти) рабочих дней после подписания Акта о страховом случае:<br>
    12.2.1. по рискам, указанным в п.п.4.1 и 4.2 настоящего Полиса – Держателю Основной Банковской карты;<br>
    12.2.2. по рискам, указанным в п.4.3 – Держателю Банковской карты.<br>
    12.3. При принятии решения об отказе в выплате страхового возмещения Страховщик письменно извещает об этом Страхователя/Выгодоприобретателя путем направления мотивированного отказа по почте в течение 3 (трех) рабочих дней с даты принятия решения об отказе по адресу, указанному в заявлении о страховом событии. Решение об отказе принимается Страховщиком в течение 10 (десяти) рабочих дней после получения всех необходимых документов, подтверждающих факт, причину и размер ущерба.<br>
    12.4. В случае непредставления Страхователем банковских реквизитов, а также других сведений, необходимых для осуществления страховой выплаты в безналичном порядке, Страховщик вправе продлить (приостановить) срок осуществления страховой выплаты до получения указанных сведений. При этом Страховщик уведомляет Страхователя о факте приостановки и запрашивает у него недостающие сведения.<br>
    12.5. После выплаты страхового возмещения страховая сумма за период ответственности, в котором произошло страховое событие, уменьшается на величину выплаченного страхового возмещения с даты наступления события.<br>
    12.6. При причинении ущерба Страхователю в иностранной валюте размер ущерба определяется и/или рассчитывается по курсу, установленному ЦБ РФ для данной валюты на дату страхового события; в случае если курс на эту дату не превышает более, чем на 10 (десять) процентов курс валюты на дату заключения Полиса-оферты. В противном случае размер ущерба выплаты страхового возмещения Страхователю (Выгодоприобретателю) устанавливается и/или рассчитывается по курсу, установленному для данной валюты на дату заключения Полиса-оферты, увеличенному на 10 (десять) процентов, однако в любом случае размер возмещения не может превышать установленный лимит по конкретному риску.
</p>
<p style="text-align: justify;font-size: 8px;">
    <b>13. Исключения из страхования.</b><br>
    13.1. По Полису-оферте не признаются страховыми случаями, и не подлежат возмещению убытки:<br>
    13.1.1. в результате операций с использованием Банковской карты, указанной в Полисе-оферте, наступившие ранее 48 часового периода, предшествующего моменту блокировки Карты.<br>
    13.1.2. в результате несанкционированного снятия денежных средств со счета при отсутствии блокировки карты за исключением случаев, подтвержденных соответствующими медицинскими документами, когда по состоянию здоровья на момент такого обнаружения Держатель Банковской карты не мог сообщить о необходимости блокировки карты.<br>
    13.1.3. вследствие совершения мошеннических или иных незаконных действий со стороны Страхователя/ Держателя Банковской карты.<br>
    13.1.4. наступившие в результате хищения у Держателя Банковской карты наличных денежных средств, полученных Держателем Банковской карты в банкомате по Банковской Карте, если такое хищение имело место по истечении 1 (одного) часа с момента снятия денежных средств.<br>
    13.1.5. в результате использования банковской карты ближайшими родственниками Страхователя независимо от способа получения ими банковской карты.<br>
    13.1.6. в результате несоблюдения Страхователем/ Держателем Банковской карты Договора с Банком (правил/условий использования банковских карт), выдавшим Банковскую карту, в том числе хранение номера Банковской карты и PIN-кода в доступных для посторонних лиц местах и/или хранение Банковской карты вместе с PIN-кодом, предоставление информации о реквизитах Банковской карты (номер карты, срок действия карты, PIN-код, CVV2/CVC2 код, контрольная информация по карте) третьим лицам, включая работников Банка, по телефону или в СМС-сообщениях; проведение через банкоматы и иные устройства самообслуживания операций по инструкциям, полученным по телефону; отсутствие подписи Держателя карты на карте; хранение копий чеков, билетов, других документов, где указан номер Банковской карты; передача пароля доступа к счету через интернет третьим лицам.<br>
    13.1.7. возникшие вследствие того, что Страхователь умышленно не принял разумных и доступных ему мер, чтобы уменьшить возможные убытки;<br>
    13.1.8. в результате операций операции по Застрахованной карте, совершенные после извещения Страхователем Банка-эмитента о факте утраты Застрахованной карты (потери, кражи или хищения);<br>
    13.1.9. неподтвержденные документами из компетентных органов;<br>
    13.1.10. возникшие до начала срока страхования, а также произошедшие и заявленные по окончанию срока страхования;<br>
    13.1.11. в отношении банковских карт, не указанных в Полисе-оферте;<br>
    13.1.12. в результате событий, зависящих от воли Страхователя, а также в результате совершенных Страхователем добровольных действий, без принуждения, без подтверждения причинно-следственной связи между мошенническими действиями третьих лиц в отношении Страхователя и несанкционированного совершения транзакций со счета Страхователя;<br>
    13.1.13. произошедшие с банковскими картами, не подключенным ни к одной из международных платежных систем или национальной платежной системе «МИР»;<br>
    13.1.14. произошедшие с банковскими картами, выпущенными к расчетному счету юридического лица и/или используемыми для расчетов, связанных с предпринимательской деятельностью (в коммерческих целях);<br>
    13.1.15. в результате несанкционированного снятия денежных средств со счета в случае утраты мобильного устройства, к которому привязана застрахованная Банковская карта<br>
    13.1.16. составляющие более 10 000 (десять тысяч) рублей при снятии наличных денежных средств в период с 23 час. 01 мин. до 07 час. 00 мин. (по местному времени населенного пункта, в котором произошло хищение) следующего дня.<br>
    13.2. Не возмещаются:<br>
    13.2.1. расходы, связанные с обслуживаем карточного счета, к которому привязана застрахованная банковская карта;<br>
    13.2.2. судебные расходы;<br>
    13.2.3. потери дохода или части убытка, явившихся результатом скидки, которую предоставило лицо, принявшее в качестве средства оплаты пластиковую карту.<br>
</p>
<p style="text-align: justify;font-size: 8px;">
    <b>14. Термины и определения:</b><br>
    <b>Банк</b> – кредитное учреждение, которое имеет лицензию Центрального банка РФ на банковскую деятельность и заключило договор с российской или международной платежной системой по изготовлению и обслуживанию Банковских карт (далее - Банк).<br>
    <b>Банковская карта</b> (далее – Карта) – карта международной или российской платежной системы, эмитируемая Банком, и выдаваемая физическому лицу, на имя которого выпущена Банковская карта, для распоряжения суммой средств, внесенных Страхователем/ Держателем Основной Банковской карты на свой текущий счет, для оплаты товаров и услуг в границах этой суммы (для расчетных Карт) или для распоряжения суммой кредита, предоставленного Банком Страхователю/Держателю Основной Банковской карты (для кредитных Карт).<br>
    <b>Держатель Банковской карты</b> – физическое лицо, заключившее Договор о комплексном банковском обслуживании физических лиц в Банке или Договор о комплексном банковском обслуживании физических лиц в Банке и Договор потребительского кредита, на имя которого выпущена Банковская карта, или физическое лицо, на имя которого по распоряжению Страхователя/Держателя Основной Банковской карты выпущена Дополнительная Банковская карта.<br>
    <b>Дополнительная Банковская карта</b> – расчетная или кредитная Карта, выпущенная Банком к Счету Страхователя/Держателя Основной Банковской карты на имя указанного им физического лица либо на имя самого Страхователя/Держателя Основной Банковской карты в дополнение к Основной Карте.<br>
    <b>Идентификатор Держателя Банковской карты</b> (персональный идентификационный номер, далее – PIN-код) – кодированный номер, присваиваемый Держателю Банковской карты для удаленной идентификации, формируется обычно из 4—6 цифр; такой номер выдается Держателю Банковской карты в запечатанном непрозрачном конверте одновременно с Картой, именно этот номер является кодом/паролем, который предлагается набрать Держателю Банковской карты в банкомате, в пункте покупки товаров.<br>
    <b>Интернет-банк</b> – автоматизированная банковская система Банка, обеспечивающая дистанционное банковское обслуживание Страхователя через глобальную информационно-телекоммуникационную сеть Интернет.<br>
    <b>Лимит ответственности</b> – максимально возможная ответственность Страховщика, предусмотренная Договором страхования.<br>
    <b>Мобильное устройство</b> – планшетный компьютер, смартфон или мобильный телефон, при помощи которого возможно проведение транзакций с вводом информации о Застрахованной банковской карте.<br>
    <b>Мобильный банк</b> (мобильный банкинг) – услуга дистанционного доступа Держателя банковской карты к своему Счету Банковской карты и другим сервисам Банка при помощи специального приложения на мобильном устройстве.<br>
    <b>Несанкционированное снятие денежных средств</b> – противоправные действия третьих лиц, связанные с незаконным (несанкционированным) доступом третьих лиц к счету Держателя Основной Банковской карты. Несанкционированный удаленный доступ к счету карты через дистанционный канал (Интернет-банк), когда компрометация учетной записи осуществляется путем мошеннических действий либо обмана Страхователя, в результате чего мошенники получают несанкционированный удаленный доступ к учетной записи Страхователя.<br>
    <b>Основная Банковская карта</b> –  первая расчетная или кредитная Карта, выпущенная Банком клиенту Банка к его Счету, держателем которой является владелец счета, соответствующего данной банковской карте.<br>
    <b>Страховщик</b> – АО «АльфаСтрахование».<br>
    <b>Страхователь</b> – дееспособное физическое лицо, заключившее с Банком Договор о комплексном банковском обслуживании физических лиц в Банке или Договор о комплексном банковском обслуживании физических лиц в Банке и Договор потребительского кредита, а также заключившее со Страховщиком договор страхования имущественных интересов Страхователя, имущественных интересов Страхователя (Выгодоприобретателя) в сохранении застрахованной Банковской карты и/или денежных средств на счете Страхователя.<br>
    Настоящий Договор страхования (Полис) заключается без подтверждения на дату заключения Договора наличия имущественного интереса у Страхователя (Выгодоприобретателя) в сохранении застрахованной Банковской карты и/или денежных средств на счете Страхователя. При этом Договор страхования, заключенный при отсутствии у Страхователя (Выгодоприобретателя) интереса в сохранении застрахованной Банковской карты и/или денежных средств на счете Страхователя (Выгодоприобретателя), недействителен (п.2 ст. 930 Гражданского кодекса Российской Федерации).<br>
    <br>
    <b>Страховая сумма</b> – определяемая договором страхования денежная сумма, исходя из которой устанавливаются размеры страховой премии и страховой выплаты.<br>
    <b>Страховая премия</b> – плата за страхование, которую Страхователь обязан уплатить Страховщику в порядке и в сроки, установленные договором страхования.<br>
    <b>Счет Держателя Основной Банковской карты</b> – текущий (карточный) банковский счет/счета, к которым имеется доступ, осуществляемый посредством указанной в Полисе-оферте Банковской карты.<br>
    <b>Третьи лица</b> – любые лица, за исключением Страхователя (Выгодоприобретателя), совершающие противоправные действия в отношении Страхователя (Держателя Банковской карты), а также в отношении застрахованной Банковской карты или денежных средств на счете Страхователя, открытого для учета операций, совершаемых с использованием Банковской карты и/или реквизитов Банковской карты.<br>
    <b>Члены семьи</b> – близкие родственники, а именно супруг (а), за исключением бывших супругов; отец, мать, дети, бабушки, дедушки, родные, а также имеющие общих отца или мать братья и сестры; лица, находящиеся на иждивении Страхователя.<br>
</p>
<p style="text-align: justify;font-size: 8px;">
    <b>15. Общие условия страхования.</b><br>
    15.1. Страхователь вправе в добровольном порядке отказаться от договора страхования:<br>
    15.1.1. в течение 14 (четырнадцати) календарных дней со дня заключения Договора страхования, при отсутствии в данном периоде событий, имеющих признаки страхового случая, Страховщик при возврате уплаченной страховой премии Страхователю вправе удержать ее часть пропорционально сроку действия договора страхования, прошедшему с даты начала действия страхования до даты прекращения действия договора страхования.<br>
    При этом договор страхования досрочно прекращается со дня получения Страховщиком письменного заявления Страхователя, все права и обязанности Сторон с указанного момента прекращаются, Страховщик не несет обязательств по страховым выплатам, дополнительное соглашение о прекращении договора страхования не оформляется.<br>
    15.1.2. в случае непредставления Страховщиком информации о договоре страхования, предоставления неполной или недостоверной информации Полис досрочно прекращается с момента отказа с возвратом Страхователю части оплаченной страховой премии пропорционально не истекшему периоду страхования.<br>
    15.2. Возврат страховой премии осуществляется Страховщиком в срок, не превышающий 7 (семь) рабочих дней со дня получения письменного заявления Страхователя об отказе от договора добровольного страхования с осуществленным Страхователем выбором порядка возврата страховой премии наличными деньгами или в безналичном порядке с обязательным указанием Ф.И.О. полностью, паспортных данных, контактного телефона при наличном способе возврата или указанием всех необходимых реквизитов при безналичном способе возврата.<br>
    15.3. Страхователь имеет право отказаться от Полиса по истечении 14 (четырнадцати) календарных дней со дня его заключения, и, если к моменту отказа возможность наступления страхового случая не отпала и существование страхового риска не прекратилась по обстоятельства иным, чем страховой случай, уплаченная Страховщику страховая премия возврату Страхователю не подлежит.<br>
    15.4. Уплатой страховой премии Страхователь:<br>
    15.4.1. выражает согласие АО «АльфаСтрахование» (115162, г. Москва, ул. Шаболовка, д.31, стр. Б):<br>
    - на обработку указанных персональных данных, включая передачу (предоставление, доступ) уполномоченным Страховщиком третьим лицам (список таких лиц опубликован на сайте Страховщика https://www.alfastrah.ru) как с использованием средств автоматизации, так и без использования таких средств;<br>
    - на получение информации на указанные адрес электронной почты и/или номер мобильного телефона о продуктах и услугах Страховщика, в том числе информации об уплате и размере страховой премии (страховых взносов), размере страховой суммы, о возникновении и урегулировании претензий, наступлении/вероятности наступления страховых случаев, выплате страхового возмещения и другую имеющую отношение к страховому Полису информацию.<br>
    15.4.2. Срок обработки персональных данных устанавливается в течение срока действия настоящего Полиса-оферты и 5 лет с даты его прекращения;<br>
    15.4.3. подтверждает, что до заключения договора страхования ознакомился с условиями Полиса, Правилами страхования пластиковых карточек, Полисными Условиям, а также с ключевым информационным документом (КИД) по страхованию рисков держателей банковских карт, размещенным на сайте АО «АльфаСтрахование» по ссылке https://www.alfastrah.ru/upload/iblock/d21/d211a3ae31596118b96e6cdd60cb23d9.pdf, согласен с ними и обязуется исполнять;<br>
    15.4.4. до заключения Полиса ознакомлен с условиями страхования, изложенными в Ключевом информационном документе по страхованию рисков Держателя Банковской карты, полученным мною на руки и размещенным на сайте АО «АльфаСтрахование» https://www.alfastrah.ru/docs/KID_msp_card_143.pdf.<br>
    15.4.5. согласен на использование Страховщиком факсимильного воспроизведения подписи и печати Страховщика, а также их графического воспроизведения с использованием компьютерной программы с помощью печатающего устройства (принтера) или типографской печати;<br>
    15.4.6. действует от собственного имени и в своих интересах и не имеет бенефициарных владельцев;<br>
    15.4.7. не являются публичными должностными лицами либо родственниками публичного должностного лица. В противном случае Страхователь/Застрахованный обязуется заполнить анкету публичного должностного лица/родственника публичного должностного лица.<br>
</p>
<table style="margin-bottom: 1em;">
    <tr>
        <td style="background-color: #bfbfbf; border: 1px solid #000; padding: 5px 10px;font-size: 8px;">
            <b>Сеть продаж/Страховой представитель</b>
        </td>
        <td style="border: 1px solid #000; padding: 5px 10px;font-size: 8px;">
            <b>МСП / ООО «МСП» Агентский договор №СА25/09/19-01 «01» ноября 2019 г.</b>
        </td>
        <td style="background-color: #bfbfbf; border: 1px solid #000; padding: 5px 10px;font-size: 8px;">
            <b>Дата выдачи Полиса-оферты</b>
        </td>
        <td style="border: 1px solid #000; padding: 5px 10px;font-size: 8px;">
            {{ data.insurance_date }} г.
        </td>
    </tr>
</table>
<table>
    <tr>
        <td style="font-size: 8px;">
            Страховщик АО «АльфаСтрахование»<br>
            Директор департамента страхования имущества физических лиц<br>
            Ф.И.О. Титов Д.А.<br>
            На основании доверенности от 25.02.2022 г. № 2411/22N
        </td>
        <td style="text-align: right;">
            <img src="https://s.aviakassa.ru/images/alfa_strahovanie_stamp.png" />
        </td>
    </tr>
</table>
</body>
</html>
