<!DOCTYPE html>

<head>
  <meta charset="utf-8">
  <style>
      body {
          margin: 0;
          padding: 0;
          background-color: #FAFBFC;
      }

      div, td {
          margin: 0;
          padding: 0;
      }

      p {
          margin: 0;
          padding: 0;
          font-family: lato, sans-serif;
          font-size: 14px;
          line-height: 20px;
      }

      .AdditionalProducts td {
          border-bottom: 1px solid #E1E5EF;
      }

  </style>
</head>
<body>
<table width="100%" style="border-collapse:collapse;" cellpadding="0" cellspacing="0"
       border="0" align="left" valign="top">
  <tbody>
  <tr>
    <td align="left">
      <a href="https://www.aviakassa.com/" target="_blank" style="text-decoration:underline">
        <img alt="Авиакасса" src="https://www.aviakassa.com/cms/image/static/template/email/logo_ak.svg" width="190" height="56" style="display:block;outline:none;border:none;text-decoration:none">
      </a>
    </td>
    <td align="right">
      <p style="font-family:montserrat;font-weight:bold;text-align:left;">
        Aviakassa.com
      </p>
      {% if ticket.reservation.crs_code %}
        <p>{{ ticket.reservation.crs_code }}</p>
      {% endif %}
    </td>
  </tr>
  </tbody>
</table>
{% if services_by_passengers is defined and services_by_passengers is not empty %}
  <div style="margin-top: 32px;margin-bottom: 8px;">
    <p style="font-family:montserrat; font-weight: bold; font-size: 18px;">
      Дополнительные услуги
    </p>
  </div>
  {% for passenger in services_by_passengers %}
    <div style="page-break-inside: avoid;">
      <div style="width:100%;display:block;border: 1px solid #E1E5EF;background-color: #fff;margin-top: 16px;">
        <table class="AdditionalProducts" width="100%" style="border-collapse:collapse;" cellpadding="0" cellspacing="0"
               border="0" align="left" valign="top">
          <tbody>
          <tr>
            <td style="width: 50%;background: #EEF0F6;padding-top: 16px;padding-left: 16px;padding-bottom: 16px;">
              <p style="font-weight: bold;">
                {{ passenger.passenger.full_name }}
              </p>
              <p style="color: #EEF0F6;font-size: 6px;">_</p>
              <p style="font-weight: bold;color:#808080;">
                {{ passenger.passenger.birth_date.date|date("d.m.Y") }}
              </p>
            </td>
            <td style="width: 50%;background: #EEF0F6;padding-top: 16px;padding-bottom: 16px;">
            </td>
          </tr>
          {% if passenger.items.additional_services is defined and passenger.items.additional_services is not empty %}
            {% if passenger.items.additional_services.ExtraBaggage is defined and passenger.items.additional_services.ExtraBaggage is not empty %}
              <tr>
                <td style="padding-left: 16px;padding-top: 16px;padding-bottom: 16px; vertical-align: top;">
                  <p style="font-weight: bold;">
                    Доп.багаж
                  </p>
                </td>
                <td style="padding-top: 16px;padding-bottom: 16px; vertical-align: top;">
                  {% for ExtraBaggage in passenger.items.additional_services.ExtraBaggage %}
                    {% for one in ExtraBaggage %}
                      <p style="font-weight: bold;">
                        {{ one.flight.departure }} &mdash; {{ one.flight.arrival }}: {{ one.limits.places }}х{{ one.limits.weight }} {{ one.limits.weight_unit|lower == 'kg' ? 'кг' : one.limits.weight_unit }}
                        {% if one.limits.length and one.limits.width and one.limits.height %}
                          <span style="color:#808080;">({{ one.limits.length }}х{{ one.limits.width }}х{{ one.limits.height }}см)</span>
                        {% endif %}
                      </p>
                    {% endfor %}
                  {% endfor %}
                </td>
              </tr>
            {% endif %}
            {% if passenger.items.additional_services.PlaceChoice is defined and passenger.items.additional_services.PlaceChoice is not empty %}
              <tr>
                <td style="padding-left: 16px;padding-top: 16px;padding-bottom: 16px; vertical-align: top;">
                  <p style="font-weight: bold;">
                    Выбор места
                  </p>
                </td>
                <td style="padding-top: 16px;padding-bottom: 16px; vertical-align: top;">
                  {% for PlaceChoice in passenger.items.additional_services.PlaceChoice %}
                    {% for one in PlaceChoice %}
                      <p style="font-weight: bold;">
                        {{ one.flight.departure }} &mdash; {{ one.flight.arrival }}: {{ one.place_number }}
                      </p>
                    {% endfor %}
                  {% endfor %}
                </td>
              </tr>
            {% endif %}
          {% endif %}
          {% if passenger.items.low_cost_extra_baggage is defined and passenger.items.low_cost_extra_baggage is not empty %}
            <tr>
              <td style="padding-left: 16px;padding-top: 16px;padding-bottom: 16px; vertical-align: top;">
                <p style="font-weight: bold;">
                  Доп.багаж
                </p>
              </td>
              <td style="padding-top: 16px;padding-bottom: 16px; vertical-align: top;">
                {% for one in passenger.items.low_cost_extra_baggage %}
                  <p style="font-weight: bold;">
                    {{ one.flight.departure }} &mdash; {{ one.flight.arrival }}: {{ one.limits.places }}х{{ one.limits.weight }} {{ one.limits.weight_unit|lower == 'kg' ? 'кг' : one.limits.weight_unit }}
                    {% if one.limits.length and one.limits.width and one.limits.height %}
                      <span style="color:#808080;">({{ one.limits.length }}х{{ one.limits.width }}х{{ one.limits.height }}см)</span>
                    {% endif %}
                  </p>
                {% endfor %}
              </td>
            </tr>
          {% endif %}
          {% if passenger.items.insurances is defined and passenger.items.insurances is not empty %}
            {% for insurance in passenger.items.insurances %}
              <tr>
                <td style="padding-left: 16px;padding-top: 16px;padding-bottom: 16px; vertical-align: top;">
                  <p style="font-weight: bold;">
                    {{ insurance.title }}
                  </p>
                </td>
                <td style="padding-top: 16px;padding-bottom: 16px; vertical-align: top;">
                  <p style="font-weight: bold;">
                    {{ insurance.texts.title }}
                  </p>
                </td>
              </tr>
            {% endfor %}
          {% endif %}
          {% if passenger.items.additional_products is defined and passenger.items.additional_products is not empty %}
            {% for additionalProduct in passenger.items.additional_products %}
              <tr>
                <td style="padding-left: 16px;padding-top: 16px;padding-bottom: 16px; vertical-align: top;">
                  <p style="font-weight: bold;">
                    {{ additionalProduct.texts.title }}
                  </p>
                </td>
                <td style="padding-top: 16px;padding-bottom: 16px; vertical-align: top;">
                  <p style="font-weight: bold;">
                  </p>
                </td>
              </tr>
            {% endfor %}
          {% endif %}
          {% if passenger.items.aex is defined and passenger.items.aex is not empty %}
            <tr>
              <td style="padding-left: 16px;padding-top: 16px;padding-bottom: 16px; vertical-align: top;">
                <p style="font-weight: bold;">
                  Аэроэкспресс
                </p>
              </td>
              <td style="padding-top: 16px;padding-bottom: 16px; vertical-align: top;">
                {% for one in passenger.items.aex %}
                  <p style="font-weight: bold;">
                    {{ one.service_class }}
                  </p>
                {% endfor %}
              </td>
            </tr>
          {% endif %}
          </tbody>
        </table>
      </div>
    </div>
  {% endfor %}
  <div style="page-break-before: always;"></div>
{% endif %}
<div style="margin-top: 32px;margin-bottom: 8px;">
  <p style="font-family:montserrat; font-weight: bold; font-size: 18px;">
    Детали заказа
  </p>
</div>
<div style="width: 100%; border: 1px solid #E1E5EF;padding: 16px;background-color: #fff;">
  <table width="100%" style="border-collapse:collapse;" cellpadding="0" cellspacing="0"
         border="0" align="left" valign="top">
    <tbody>
    <tr>
      <td style="width: 50%;">
        <p style="font-weight: bold;">Номер заказа</p>
      </td>
      <td style="width: 50%;text-align: right">
        <p>{{ order.billing_number }}</p>
      </td>
    </tr>
    <tr>
      <td style="width: 50%;margin-top: 12px;padding-top: 12px;">
        <p style="font-weight: bold;">Тариф и таксы по билетам</p>
      </td>
      <td style="width: 50%;text-align: right;padding-top: 12px;">
        <p>{{ (order.amount_total_sum - order.service_fee_sum)|number_format(2, '.', ' ') }} RUB</p>
      </td>
    </tr>
    {% if vatTaxItinerary.is_show %}
      <tr>
        <td style="width: 50%;margin-top: 12px;padding-top: 12px;">
          <p style="font-weight: bold;">В т.ч. НДС/VAT {{ vatTaxItinerary.percent }}%</p>
        </td>
        <td style="width: 50%;text-align: right;padding-top: 12px;">
          <p>
            {{ ((order.amount_total_sum - order.service_fee_sum) * vatTaxItinerary.coefficient)|number_format(2, '.', ' ') }} RUB
          </p>
        </td>
      </tr>
    {% endif %}
    <tr>
      <td style="width: 50%;margin-top: 12px;padding-top: 12px;">
        <p style="font-weight: bold;">Сборы/скидки</p>
      </td>
      <td style="width: 50%;text-align: right;padding-top: 12px;">
        <p>
          {{ order.service_fee_sum|number_format(2, '.', ' ') }} RUB
        </p>
      </td>
    </tr>
    {% if additionalProductsSum > 0 %}
      <tr>
        <td style="width: 50%;margin-top: 12px;padding-top: 12px;">
          <p style="font-weight: bold;">Дополнительные услуги</p>
        </td>
        <td style="width: 50%;text-align: right;padding-top: 12px;">
          <p>{{ additionalProductsSum|number_format(2, '.', ' ') }} RUB</p>
        </td>
      </tr>
    {% endif %}
    {% if insurancesSum > 0 %}
      <tr>
        <td style="width: 50%;margin-top: 12px;padding-top: 12px;">
          <p style="font-weight: bold;">Страхование</p>
        </td>
        <td style="width: 50%;text-align: right;padding-top: 12px;">
          <p>
            {{ insurancesSum|number_format(2, '.', ' ') }} RUB
          </p>
        </td>
      </tr>
    {% endif %}
    {% if aexSum > 0 %}
      <tr>
        <td style="width: 50%;margin-top: 12px;padding-top: 12px;">
          <p style="font-weight: bold;">Аэроэкспресс</p>
        </td>
        <td style="width: 50%;text-align: right;padding-top: 12px;">
          <p>
            {{ aexSum|number_format(2, '.', ' ') }} RUB
          </p>
        </td>
      </tr>
    {% endif %}
    {% if promoSum > 0 %}
      <tr>
        <td style="width: 50%;margin-top: 12px;padding-top: 12px;">
          <p style="font-weight: bold;">Скидка по промокоду</p>
        </td>
        <td style="width: 50%;text-align: right;padding-top: 12px;">
          <p>
            {{ promoSum|number_format(2, '.', ' ') }} RUB
          </p>
        </td>
      </tr>
    {% endif %}
    <tr>
      <td style="width: 50%;margin-top: 12px;padding-top: 12px;">
        <p style="font-weight: bold;">Итого по заказу</p>
      </td>
      <td style="width: 50%;text-align: right;padding-top: 12px;">
        <p>
          {{ total|number_format(2, '.', ' ') }} RUB
        </p>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
